/*Body*/

.navheader .active a {
  background-color: #1b203d;
  border: 1px solid #c5d1d9;
  border-radius: 5px;
  padding: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
}

main {
  padding-bottom: 100px;
  min-height: 100vh;
  margin: 1rem 1rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c5d1d9;
  font-family: obvia, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.home {
  background-color: #1b203d;
}

h1 {
  text-align: center;
  font-size: 26px;
  color: #f25f20;
}

h2 {
  text-align: center;
  font-size: 14px;
  color: #c5d1d9;
}

h3 {
  display: inline-block;
  white-space: nowrap;
  color: #f25f20;
  font-size: 20px;
  text-align: center;
}

h4 {
  padding-top: 5px;
  text-align: center;
  font-size: 26px;
  color: #1b203d;
}

h5 {
  text-align: center;
  font-size: 18px;
  color: #c5d1d9;
}

/*Header*/

header {
  background-image: url("../images/WebsiteHeader1.jpg");
  background-position: center;
  background-size: cover;
  max-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  max-width: 250px;
  border-radius: 20px 20px 20px 20px;
}

.Icons {
  margin-right: 7px;
  width: 25px;
  height: 25px;
}

/*Navigation*/

.top-nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 1rem 1rem;
}

.nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 10px 0 10px 0;
  justify-content: space-between;
}

.search {
  padding: 6px 50px 6px 10px;
  border: 1px solid #f25f20;
  border-radius: 20px;
}

nav li {
  display: inline-block;
  color: #f2f2f2;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 3.2vw;
}

nav a {
  color: #c5d1d9;
  text-decoration: none;
}

nav a:hover {
  color: #f25f20;
}

/*ShoppingCart*/

.shopping-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 20px;
}

.shoppingcarttext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #c5d1d9;
  padding: 2rem;
}

.shoppingcarttext p {
  color: #c5d1d9;
}

.purchasedgames {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.purchasedgames p {
  color: #c5d1d9;
}

#buy-game-one {
  display: flex;
  border: 1px #f25f20 solid;
}

.gametext {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#keep-shopping {
  text-decoration: none;
  color: #fff;
  border: 1px #f25f20 solid;
  border-radius: 20px 20px 20px 20px;
  background-color: #1b203d;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-top: 0px;
  min-width: 35vw;
}

#keep-shopping:hover {
  background-color: #f25f20;
  color: #1b203d;
  border: 1px #1b203d solid;
}

#purchase {
  text-decoration: none;
  color: #fff;
  border: 1px #f25f20 solid;
  border-radius: 20px 20px 20px 20px;
  background-color: #1b203d;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-top: 0px;
  min-width: 35vw;
}

#purchase:hover {
  background-color: #f25f20;
  color: #1b203d;
  border: 1px #1b203d solid;
}

/*Home*/

.flex-contain-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10vh 5vh 5vh 5vh;
}

.welcomebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1b203d;
  max-height: 40vh;
}

.welcomebox h1 {
  margin: 0 2% 2% 2%;
}

.welcomebox h2 {
  margin: 2% 2% 2% 2%;
  text-align: center;
  font-size: 20px;
  color: #f25f20;
}

.action {
  display: flex;
  text-align: center;
  justify-content: center;
}

#storebutton {
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
  background-color: #1b203d;
  color: #f2f2f2;
  text-decoration: none;
  border: 1px solid #f25f20;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

#storebutton:hover {
  background-color: #f25f20;
  color: #1b203d;
}

/*Checkout*/

.gamestobuy {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 10% 10px 10%;
}

.gamestobuy h3,
h4 {
  color: #c5d1d9;
  font-size: 20px;
  text-align: left;
}

.gamestobuy img {
  max-height: 80px;
}

.checkouttext {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 20px 10% 20px 10%;
}

.checkouttext h1 {
  color: #1b203d;
}

.checkoutgames {
  width: 40%;
  background-color: #1b203d;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  border: 1px solid #f25f20;
  border-radius: 20px;
}

.checkoutmethod {
  display: flex;
  align-items: center;
  width: 40%;
  background-color: #1b203d;
  margin: 20px;
  padding: 20px;
  border: 1px solid #f25f20;
  border-radius: 20px;
}

.checkoutmethod h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

#methodinfotext {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #f25f20;
  margin-bottom: 10px;
}

.flexboxpayment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentmethod {
  display: flex;
  align-items: center;
  width: 40%;
  background-color: #1b203d;
  margin: 20px;
  margin-right: 65px;
  padding: 20px;
  border: 1px solid #f25f20;
  border-radius: 20px;
}

.paymentmethod h1 {
  margin-bottom: 20px;
}

.paymenttext h1,
h3,
h4 {
  text-align: left;
}

.paymentlabel {
  color: #f25f20;
}

.order-button {
  margin-left: auto;
  justify-content: flex-end;
  align-self: flex-end;
}

#order {
  text-decoration: none;
  color: #fff;
  border: 1px #f25f20 solid;
  border-radius: 20px 20px 20px 20px;
  background-color: #1b203d;
  padding: 10px 25px 10px 25px;
  width: 120px;
  text-align: center;
  align-items: right;
}

#order:hover {
  background-color: #f25f20;
  color: #1b203d;
  border: 1px #1b203d solid;
}

/*Home images*/

.mainimages img {
  border: 1px solid #f25f20;
  border-radius: 20px;
}

.mainimages2 img {
  border: 1px solid #f25f20;
  border-radius: 20px;
}

/*Account*/

#register-header {
  text-align: center;
}

#signup {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.toptextregistration {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.toptextregistration h4 {
  color: #f25f20;
}

.registrationlabel {
  color: #c5d1d9;
}

#signin {
  margin-top: 10px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  margin: 1rem 0;
  display: block;
  margin-left: 45%;
  margin-right: 45%;
  width: 10%;
  border-radius: 5px;
  text-align: center;
}

.form-error {
  display: none;
  color: red;
  margin: 5px 0 15px 0;
}

button {
  color: #1b203d;
  background-color: #c5d1d9;
  border: 1px #c5d1d9;
  border-radius: 5px;
  padding: 0.3rem 2rem;
  margin: 1rem;
}

button:hover {
  color: #1b203d;
  background-color: #f25f20;
}

.phone {
  text-align: center;
}

.phone h1 {
  font-size: 18px;
}

.mail {
  text-align: center;
  margin-top: 2%;
}

.mail h1 {
  font-size: 18px;
}

/*Checkout Success*/

.hero-image {
  background-image: url("../images/WebsiteHeader4.jpg");
  background-color: #c5d1d9;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  padding: 5%;
  border: 1px solid #f25f20;
  border-radius: 20px;
  background-color: #1b203d;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#back-home-container {
  margin: 30px;
}

#back-home {
  text-decoration: none;
  color: #fff;
  border: 1px #f25f20 solid;
  border-radius: 20px 20px 20px 20px;
  background-color: #1b203d;
  padding: 10px 35px 10px 25px;
  width: 120px;
  text-align: center;
}

/*Contact*/

.pressbox {
  border-color: #f25f20;
  border-style: solid;
  border-width: 1px;
  padding: 10px 10px 10px 10px;
  background-color: #1b203d;
  width: 110px;
  height: 90px;
}

.flexboxcontainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/*Games*/

.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.games img {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 0;
}

.games h3 {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 0;
}

.games h2 {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 0;
}

.gamecolumn {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.gamecovers {
  margin: 25px;
  height: 113px;
  width: 81px;
}

.gamecovers img {
  border-style: solid;
  border-width: 1px;
  border-color: #f25f20;
  align-items: center;
  width: 80px;
  height: 113px;
}

.add-to-cart {
  background-color: #1b203d;
  border: none;
  color: #f25f20;
  font-size: 17px;
}

.fa-shopping-cart {
  color: #f25f20;
  background-color: #1b203d;
  padding: 2px 2px 2px 2px;
}

.fa-shopping-cart:hover {
  background-color: #f25f20;
  color: #1b203d;
  padding-right: 3px;
}

.productcta {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 0;
}

.add-to-cart:hover {
  background-color: #f25f20;
  color: #1b203d;
}

/*Search Results*/

.search1 {
  width: 40%;
  background-color: #1b203d;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  border: 1px solid #f25f20;
  border-radius: 20px;
}

.search2 {
  width: 40%;
  background-color: #1b203d;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  border: 1px solid #f25f20;
  border-radius: 20px;
}

.searchresults {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 10% 10px 10%;
}

.searchresults {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 10% 10px 10%;
}

.searchresults h3,
h4 {
  color: #c5d1d9;
  font-size: 20px;
  text-align: left;
}

.searchresults img {
  border: 1px solid #f25f20;
  max-height: 80px;
  max-width: 50px;
}

/* My Page*/

.my-page-text {
  margin: 2%;
}

.my-page-text h1 {
  color: #1b203d;
}
.account-options h1 {
  font-size: 15px;
  margin: 5px 0px 5px 0px;
}

.account-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
}

.left-bar {
  border: 1px solid #f25f20;
  padding: 20px;
  border-radius: 20px;
  background-color: #1b203d;
  width: 10%;
}

.right-bar {
  border: 1px solid #f25f20;
  padding: 20px;
  border-radius: 20px;
  background-color: #1b203d;
  width: 10%;
}

/*Footer*/

.footermenu {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  border-top-style: solid;
  border-width: 100%;
  border-width: 1px;
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #1b203d;
  bottom: 0;
  left: 0;
  color: #c5d1d9;
  text-decoration: underline;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-text p {
  margin: 20px;
}

.mediaicons {
  max-width: 30px;
  margin-left: 10px;
}

.socialmedia {
  position: absolute;
  bottom: 0;
}

nav ul {
  padding: 0;
}

/*Media Queries for big devices*/

@media only screen and (min-width: 1024px) {
  /* Shop Buttons */

  #keep-shopping {
    min-width: 10vw;
  }

  #purchase {
    min-width: 10vw;
  }
}

/*Media Queries for small devices*/

@media only screen and (max-width: 1023px) {
  /* Main */

  li {
    margin: 5px;
  }

  .top-nav {
    margin: 2vh 0 2vh 0;
  }

  .navheader .active a {
    color: #f25f20;
    border: none;
    padding: 0;
    background-color: transparent;
  }

  /*Navigation*/

  .nav li {
    margin: 1rem 0;
  }

  .nav {
    align-items: center;
    flex-direction: column;
  }

  .navheader {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
  }

  .menuicons {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }

  .Icons {
    margin-left: 15px;
    margin-right: 15px;
  }

  .fa-search {
    padding-top: 5px;
  }

  .searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .search {
    margin-right: 5px;
  }
  header {
    flex-direction: column;
  }

  /*Body*/

  .logo {
    display: none;
    margin-left: 0;
    padding: 0;
    max-height: 80px;
  }

  .home {
    background-image: none;
    background-color: #1b203d;
  }

  /*HomePage Images*/

  .mainimages {
    display: none;
  }

  .mainimages2 {
    display: none;
  }

  /*HomePage WelcomeBox*/

  .welcomebox {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /*Games*/

  .gamecolumn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 0%;
    margin-right: 0%;
    height: 100vh;
    align-items: center;
  }

  .games h3 {
    margin-bottom: 2px;
  }

  .games h2 {
    margin-bottom: 2px;
  }

  .gamecovers {
    margin-bottom: 55px;
  }

  /*Account Page*/

  .form {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }

  .form2 {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }

  /*Checkout*/

  .gamestobuy {
    display: flex;
    flex-wrap: wrap;
  }

  .checkoutgames {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  #methodinfotext {
    display: none;
  }

  .flexboxpayment {
    flex-direction: column;
    align-items: center;
  }

  .paymentmethod {
    margin: 0;
    flex-direction: column;
    justify-content: center;
  }

  .order-button {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    align-self: center;
  }

  .checkoutgames h4 {
    text-align: center;
    font-size: 14px;
    margin: 20px 0px 20px 0px;
  }

  .paymenttext h1 {
    text-align: center;
  }

  /*Shopping Cart*/

  .shoppingcarttext {
    flex-direction: column;
  }

  .shoppingcarttext p {
    display: none;
  }

  .purchasedgames {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  #gamesinbasket {
    position: relative;
    margin-left: 5px;
  }

  #quantity {
    position: relative;
    margin: 10px;
  }

  #pricetag {
    position: relative;
    margin: 10px;
  }
}
